/*@import url("");*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
 --heading-background-color: #26496997;
 --paragraph-background-color: #b4cde48a;
 --heading-text-color: #CFCFB4;
 --paragraph-text-color: #505033;
 --heading-font: Georgia, 'Times New Roman', Times, serif;
 --body-font: "Roboto", serif;
 --padding: 1rem;
 --border: 2px solid #264969;
}

.hero div {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 98vw;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

article {
    position: absolute;
    float: right;
    top: 60vw;
    left: 10vw;
    right: 10vw;
    text-align: justify;
    font-weight: 700;
    background-color: var(--paragraph-background-color);
    border: var(--border);
    color: var(--paragraph-text-color);
    font-family: var(--body-font);
    padding: var(--padding);
}

.hero article > img {
    float: right;
    height: 150px;
    width: auto;
    margin-left: 10px;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--paragraph-text-color);
}

p {
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--paragraph-text-color);
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks a > img {
    height: 50px;
    width: auto;
}